<body>
    <div class="calculator">
        <input type="text" class="screen" [value]="currentNumber" disabled />
        <div>
          <div class="rowOne">
            <button mat-button (click)="getNumber('7')" type="button" value="7">7</button>
            <button mat-button (click)="getNumber('8')" type="button" value="8">8</button>
            <button mat-button (click)="getNumber('9')" type="button" value="9">9</button>
            <button mat-button (click)="getOperation('/')" class="operator" type="button" value="/">/</button>
          </div>
          <div class="rowTwo">
            <button mat-button (click)="getNumber('4')" type="button" value="4">4</button>
            <button mat-button (click)="getNumber('5')" type="button" value="5">5</button>
            <button mat-button (click)="getNumber('6')" type="button" value="6">6</button>
            <button mat-button (click)="getOperation('*')" class="operator" type="button" value="X">X</button>
          </div>
          <div class="rowThree">
            <button mat-button (click)="getNumber('1')" type="button" value="1">1</button>
            <button mat-button (click)="getNumber('2')" type="button" value="2">2</button>
            <button mat-button (click)="getNumber('3')" type="button" value="3">3</button>
            <button mat-button (click)="getOperation('-')" class="operator" type="button" value="-">-</button>
          </div>
          <div class="rowFour">
            <button mat-button (click)="getNumber('0')" type="button" value="0">0</button>
            <button mat-button (click)="getDecimal()" class="operator" type="button" value=".">.</button>
            <button mat-button (click)="getOperation('=')" class="operator" type="button" value="=">=</button>
            <button mat-button (click)="getOperation('+')" class="operator" type="button" value="+">+</button>
          </div>
        </div>
        <button mat-button (click)="clear()" value="clear" type="button" class="clear">AC</button>
    </div>
</body>
